/* ===============================
   GLOBAL APP CONTENT
================================ */
.app-content {
  min-height: 100vh;
}

/* ===============================
   OFFSET WHEN NAVBAR IS VISIBLE
================================ */
.with-navbar {
  padding-top: 100px; /* MUST MATCH NAVBAR HEIGHT */
}
